<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Leader</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Description</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%=h organization.name %></td>
    <td><%=h organization.leader %></td>
    <td><%=h organization.email %></td>
    <td><%=h organization.phone_number %></td>
    <td><%=h organization.description %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organization', new_organization_path %>