<p>
  <b><%= I18n.t('organizations.information.name') %></b>
  <%=h @organization.name %>
</p>

<p>
  <b><%= I18n.t('organizations.information.leader') %></b>
  <%=h @organization.leader %>
</p>

<p>
  <b><%= I18n.t('organizations.information.email') %></b>
  <%=h @organization.email %>
</p>

<p>
  <b><%= I18n.t('organizations.information.phone_number') %></b>
  <%=h @organization.phone_number %>
</p>

<p>
  <b><%= I18n.t('organizations.information.description') %></b>
  <%=h @organization.description %>
</p>


<%= link_to I18n.t('layout.navigation.edit'), edit_organization_path(@organization) %> |
<%= link_to I18n.t('layout.navigation.back'), organizations_path %>