<h1><%= I18n.t('association.new.title') %></h1>
	
	<% form_for([@entity, @association]) do |f| %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :third_party_person %><br />
			<%= f.text_field :thirdpartyperson %>
		</p>
			
		<p>
			<%= f.submit %>
		</p> 

	<% end %>
	<%= link_to I18n.t('layout.navigation.back'), entity_path(@entity) %>