<h1>New Association</h1>
	
	<% form_for([@entity, @association]) do |f| %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :entity %><br />
			<%= f.text_field :entity %>
		</p>	

		<p>
			<%= f.label :thirdpartyperson %><br />
			<%= f.text_field :thirdpartyperson %>
		</p>
			
		<p>
			<%= f.submit %>
		</p> 

	<% end %>
	<%= link_to 'Back', entity_path(@entity) %>