<<<<<<< HEAD
<h1>Add a known association</h1>
=======
<h1><%= I18n.t('association.new.title') %></h1>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1
	
	<% form_for([@entity, @association]) do |f| %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :thirdpartyperson_id, 'Association in question' %>
			<%= f.text_field :thirdpartyperson_id %>
				<%= f.label :description, 'Description of relationship' %><%= f.text_field :description %> &nbsp;&nbsp;<%= f.label :infosource ,'Source of information' %>
			<%= f.text_field :infosource %>
			
		</p>
			
		<p>
			<%= f.submit %>
		</p> 

	<% end %>
	<%= link_to I18n.t('layout.navigation.back'), entity_path(@entity) %>