<h1><%= I18n.t('comments.new.title') %></h1>
	
	<% form_for([@transaction, @comment]) do |f| %>
		<%= f.error_messages %>
		<p>	
			<% if logged_in? %> 
				<%= f.label :commenter, current_user.username %>
				<%= f.hidden_field :commenter, :value => current_user.username %>
			<% else %>
				<%= f.label :commenter, I18n.t('comments.new.name') %><br />
				<%= f.text_field :commenter %>
			<% end %>		
		</p>	

		<p>
			<%= f.label :content, I18n.t('comments.new.comment') %><br />
			<%= f.text_area :content %>
		</p>
			
		<p>
			<%= f.submit I18n.t('comments.new.submit') %>
		</p> 

	<% end %>
	<%= link_to I18n.t('layout.navigation.back'), transaction_path(@transaction) %>