<h1><%= I18n.t('comments.new.title') %></h1>
	
	<% form_for([@transaction, @comment]) do |f| %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :commenter, I18n.t('comments.new.name') %><br />
			<%= f.text_field :commenter %>
		</p>	

		<p>
			<%= f.label :content, I18n.t('comments.new.comment') %><br />
			<%= f.text_area :content %>
		</p>
			
		<p>
			<%= f.submit I18n.t('comments.new.submit') %>
		</p> 

	<% end %>
	<%= link_to I18n.t('layout.navigation.back'), transaction_path(@transaction) %>