<h1><%= I18n.t('thirdparty.index.title')%></h1>

<table>
  <tr>
    <th><%= I18n.t('thirdparty.information.last_name')%></th>
    <th><%= I18n.t('thirdparty.information.first_name')%></th>
    <th><%= I18n.t('thirdparty.information.sex')%></th>
    <th><%= I18n.t('thirdparty.information.phone_number')%></th>
    <th><%= I18n.t('thirdparty.information.birthday')%></th>
  </tr>

<% @thirdpartypeople.each do |thirdpartyperson| %>
  <tr>
    <td><%=h thirdpartyperson.last_name %></td>
    <td><%=h thirdpartyperson.first_name %></td>
    <td><%=h thirdpartyperson.sex %></td>
    <td><%=h thirdpartyperson.phone_number %></td>
    <td><%=h thirdpartyperson.birthday %></td>
    <td><%= link_to I18n.t('layout.navigation.show'), thirdpartyperson %></td>
    <td><%= link_to I18n.t('layout.navigation.edit'), edit_thirdpartyperson_path(thirdpartyperson) %></td>
    <td><%= link_to I18n.t('layout.navigation.destroy'), thirdpartyperson, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('thirdparty.index.create_new'), new_thirdpartyperson_path %>