<h1><%= I18n.t('thirdparty.new.title')%></h1>

<% form_for(@thirdpartyperson) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :last_name, I18n.t('thirdparty.information.last_name') %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name, I18n.t('thirdparty.information.first_name') %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
	<%= f.label :sex, I18n.t('thirdparty.information.sex') %><br />
    <%= f.text_field :sex %>
  </p>
  <p>
    <%= f.label :phone_number, I18n.t('thirdparty.information.phone_number') %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :birthday, I18n.t('thirdparty.information.birthday') %><br />
	<%= f.date_select :birthday, :default => {:year => 1980, :month => 1, :day => 1}, :start_year => 1960, :end_year => 2000 %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.navigation.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.navigation.back'), thirdpartypeople_path %>