<p>
  <b><%= I18n.t('thirdparty.information.last_name')%></b>
  <%=h @thirdpartyperson.last_name %>
</p>

<p>
  <b><%= I18n.t('thirdparty.information.first_name')%></b>
  <%=h @thirdpartyperson.first_name %>
</p>

<p>
  <b><%= I18n.t('thirdparty.information.sex')%></b>
  <%=h @thirdpartyperson.sex %>
</p>

<p>
  <b><%= I18n.t('thirdparty.information.phone_number')%></b>
  <%=h @thirdpartyperson.phone_number %>
</p>

<p>
  <b><%= I18n.t('thirdparty.information.birthday')%></b>
  <%=h @thirdpartyperson.birthday %>
</p>


<%= link_to I18n.t('layout.navigation.edit'), edit_thirdpartyperson_path(@thirdpartyperson) %> |
<%= link_to I18n.t('layout.navigation.back'), thirdpartypeople_path %>