<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>LiveFunding: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag 'XMLHttpRequest' %>
  
</head>

<body>
<div id="header">
		<div style ="float:right;">
			<% if logged_in? %>
					Welcome, <%= link_to current_user.username, edit_user_path(current_user) %> (<%= link_to "logout", logout_path %>)
			<% end %>
			<% if !logged_in? %>
		<% form_for @user, :url=>session_url do |f| %>
			<%= f.label I18n.t('layout.login.username') %><br />
			<%= f.text_field :username, :size =>"20" %><br />

			<%= f.label I18n.t('layout.login.password') %><br />
			<%= f.password_field :password, :size =>"20" %><br />

			<%= submit_tag I18n.t('layout.login.submit')%>
			<%= link_to I18n.t('layout.login.register'), new_user_path %>
		<% end %>
		<% end %>
		</div>
		<div>		
		<div id="language">
						<p>Valitse kieli:</p>
		                <% form_tag '', :method => 'GET' do %>
			                        <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale),
			                                :onchange => 'this.form.submit()' %>
			                        <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
			                <% end %>       
			        </div>
			<div id="search">
		<br />
		<br />
		<br />
		<% form_for Transaction.new, :url => search_transactions_path  do |f| %>
			<%= f.text_field :donor, :size =>"20" %>
			<%= submit_tag I18n.t('layout.search.search')%>
		<% end %>
	</div>
	

	</div>
	
	<hr style="width:100%;clear:both;float;left;margin-top:170px;"/>
	</div>
<div class="container">	
	<div class="left">
		<div class="navigation">
		<ul>
			<li><%= link_to I18n.t('layout.navigation.home'), root_path %></li>
			<li class="first-level"><%= link_to I18n.t('layout.navigation.transactions'), transactions_path %></li>
			<ul><li><%= link_to I18n.t('transactions.new.title'), new_transaction_path %></li>
				<li><%= link_to I18n.t('transactions.top.title'), top_transactions_path %></li>
				<li><%= link_to I18n.t('transactions.fundtop.title'), fundtop_transactions_path %></li>
			</ul>
			<li class="first-level"><%= link_to I18n.t('layout.navigation.entities'), entities_path %></li>
			<ul>
				<li><%= link_to I18n.t('entities.new.title'), new_entity_path %></li>
			</ul>
			<li class="first-level"><%= link_to I18n.t('layout.navigation.about'), :action =>:about %></li>
			
		</div> 
	</div>
	
	
	<div class="center">
		<div id="notifications">
			<% if flash[:notice] %>
					<p id="notice"><%= flash[:notice] %></p>
				<% end %>
				<% if flash[:error] %>
					<p id="error"><%= flash[:error] %></p>
				<% end %>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	</div>
		
	<div id="footer">
		<hr />
	<p>This page was generated at <%= page_generation_timestamp %></p>
</div>
</body>
</html>

