<div id="about" style="width:50%;float:left;">	
	<% url = 'http://blogs.cs.helsinki.fi/livefunding/rss' %>
	<% feed = RSS::Parser.parse(open(url).read, false) %>
	<h2><%=h feed.channel.title %><br /></h2>
	<% feed.items.each do |item| %>
		<h3><%= link_to item.title, item.link, :popup => true %><br /></h3>
		<%=h item.description %><br /><br />
	<% end %>
</div>
<div id="newsfeed" style="width:40%;float:right;clear:none;">
	<h2><%= I18n.t('home.newsfeed') %></h2>
	<table class="transactions" id="latest" border="0" cellspacing="0"
	<tr>
		<th>#</th>
		<th><%=I18n.t('transactions.index.from')%></th>
		<th><%=I18n.t('transactions.index.amount')%></th>
		<th><%=I18n.t('transactions.index.to') %></th>
		<th><%=I18n.t('transactions.index.create_time')%></th>
		<th></th>

	</tr>
	<% @transactions.each do |transaction| %>
	<tr>
		<td># <%=h transaction.id %></td>
		<td>
	       <% if transaction.donor !=nil%><%=h transaction.donor.name %><%end%></td>
		<td>
	        <%=h transaction.amount %>€ </td>
	  <td>
	        <%if transaction.recipient !=nil %><%=h transaction.recipient.name %><%end%></strong></td>
		<td>
	        <%if transaction.date_of_transaction != nil%><%=h transaction.date_of_transaction.strftime("%m / %Y")  %><%end%></td>
			<td><%= link_to image_tag("info.png", :border=>0), transaction, :title =>I18n.t('layout.navigation.show') %> </td>
	</tr>
	<% end %>
	</table>	
	</div>