
<h1><%= I18n.t('users.edit.title') %></h1>

<% form_for(@user, :html => {:class => 'validate', :multipart=>true}) do |f| %>
  <%= f.error_messages %>

	<div>
		<p>
    		<%= f.label :username, I18n.t('users.information.username') %><br/>
    		<strong><%= @user.username %></strong>
  		</p>
	</div>
	<div style="float:left;width:150px;height:200px;background:yellow;margin:10px;">
	<% if @user.photo.exists? then %>
	<p><%= image_tag @user.photo.url(:small) %></p>
		<%= f.file_field :photo, :size =>"10" %>
		<%= link_to "Delete Image", { :action => "delete_image", :user => @user},
	            :confirm => "Are you sure?"	
	 %>
	<% else %>
	<p><%= I18n.t('users.information.noimage')%><br />
  		<%= f.file_field :photo, :size =>"10" %>
	</p><% end %>
	</div>
	<div style="border:1px solid;float:left;padding:35px;">
	<div style="float:left;clear:both;">
		<div style="float:left;clear:none;">
 			<%= f.label :firstname, I18n.t('users.information.firstname') %><br/>
    		<%= f.text_field :firstname, :size=>"10" %>
 		</div>
		<div style="float:left;clear:none;margin-left:30px;">
   			<%= f.label :lastname, I18n.t('users.information.lastname') %><br/>
    		<%= f.text_field :lastname, :size=>"10"%>
		</div>
		<br />
			<div style="float:left;clear:none; margin-top:10px;">
		<%= f.label :link, I18n.t('users.information.link') %><br/>
	    <%= f.text_field :link, :size=>"28" %>
		</div>
	</div>
	<div style="float:left;clear:both;margin-top:30px;">
			<div style="float:left;clear:none;">
    			<%= f.label :password, I18n.t('users.information.password') %><br/>
    			<%= f.password_field :password, :size=>"15" %>	
			</div>
			<div style="float:left;clear:both;margin-top:10px;">
    			<%= f.label :password_confirmation, I18n.t('users.information.password_confirmation') %><br/>
    			<%= f.password_field :password_confirmation, :size=>"15" %>
			</div>
	</div>
	</div>
    <div style="float:left;clear:both;margin-left:350px;">
		<p>
    		<%= f.submit I18n.t('layout.navigation.update') %>
   		</p>
	</div>
<div style="float:left;clear:both;">
  <h2><%= I18n.t('users.edit.favorite') %></h2>
	<p>
	<% @user.transactions.each do |transaction| %>
		<p onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='http://localhost:3000/transactions/<%= transaction.id%>'">
        <%=h I18n.t('transactions.index.from') %>: <strong><% if transaction.donor !=nil%><%=h transaction.donor.name %><%end%></strong> 
		       <strong><%=h transaction.amount %></strong> 
		       To :<strong><%if transaction.recipient !=nil %><%=h transaction.recipient.name %><%end%></strong>
		</p>
	</p> 
	<% end %>
   </div>
   	
<% end %>


<p style="float:left;clear:both;"><%= link_to I18n.t('users.edit.destroy'), user_path, :method => :delete, :confirm => "Are you sure?" %>
</p>