<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js'></script>
<script type='text/javascript' src='/prototip/js/prototip/prototip.js'></script>
<link rel="stylesheet" type="text/css" href="/prototip/css/prototip.css" />

<h2><%= I18n.t('transactions.fundtop.title') %></h2>

<table class="transactions" border="0" cellspacing="0">
<tr style="background:none;">
	<th>#</th>
	<th><%=I18n.t('transactions.index.from')%></th>
	<th><%=I18n.t('transactions.index.amount')%></th>
	<th><%=I18n.t('transactions.index.to') %></th>
	<th><%=I18n.t('transactions.index.create_time')%></th>
	<th></th>

</tr>
<% @transactions.each do |transaction| %>
<tr>
	<td># <%=h transaction.id %></td>
	<td>
       <% if transaction.donor !=nil%><a class="info_tag" id="<%=h transaction.donor.id %>"><%=h transaction.donor.name %></a><%end%></td>
	<td>
        <%=h transaction.amount %>€ </td>
  <td>
        <%if transaction.recipient !=nil %><a class="info_tag" id="<%=h transaction.recipient.id %>"><%=h transaction.recipient.name %></a><%end%></strong></td>
	<td>
        <%if transaction.date_of_transaction != nil%><%=h transaction.date_of_transaction.strftime("%d / %m / %Y")  %><%end%></td>
	<td>
	<% if logged_in? %>
		<%= link_to image_tag("accept.png", :border=>0), { :controller => :transactions, :action => "incr_rank", :id => transaction.id }, :title => "Rank It!" %>
		<%= link_to image_tag("Block.png", :border=>0), { :controller => :transactions, :action => "decr_rank", :id => transaction.id }, :title => "Unrank It!" %> <%=h transaction.rank %> <%if transaction.ilike != nil %> rank(s)<%end%>
	<% end %>
	</td>
	<td><%= link_to image_tag("Thumbs-up-icon.png", :border=>0), { :controller => :transactions, :action => "incr_ilike", :id => transaction.id }, :title => "I Like It!"  %> <%= link_to image_tag("thumbs-down-icon.png", :border=>0), { :controller => :transactions, :action => "decr_ilike", :id => transaction.id }, :title => "I don't Like It!"  %> <%=h transaction.ilike %><%if transaction.ilike !=nil %> like(s)<%end%></td>
	<!-- <td><%= link_to I18n.t('layout.navigation.edit'),  edit_transaction_path(transaction) %></td>
	<td><%= link_to I18n.t('layout.navigation.destroy'), transaction, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td> -->
	<% if logged_in? %>
	<td><%= link_to image_tag("favorite_add.png", :border=>0), {:controller => :favourite, :action => "favourite_transaction", :id => transaction.id}, :title => I18n.t('layout.navigation.favourite') %></td>
	<td><%= link_to image_tag("comment_edit.png", :border=>0), new_transaction_comment_path(transaction), :title =>I18n.t('comments.new.title') %> </td>
	<% end %>
		<td><%= link_to image_tag("info.png", :border=>0), transaction, :title =>I18n.t('layout.navigation.show') %> </td>
</tr>
<% end %>
</table>

<br />
<%= link_to I18n.t('layout.navigation.back'), transactions_path %>

<br />
<script type="text/javascript">
document.observe('dom:loaded', function() {
  $$("a[class='info_tag']").each(function(element) {
    new Tip(element, "Show Detail Info", {
	    style: 'protoblue',
	  	hook: { target:'topMiddle', tip: 'bottomMiddle', mouse: false },
		offset: { x: 0, y: 3 },
		stem: 'bottomMiddle',
		width: 200,
		height: 100,
		ajax: {
		    url: '/entities/entity_info_ajax',
			options: {
				method: 'get',
				parameters: {id: element.id}
			}
		}
    });
  });
});
</script>