<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js'></script>
<script type='text/javascript' src='/prototip/js/prototip/prototip.js'></script>
<link rel="stylesheet" type="text/css" href="/prototip/css/prototip.css" />
<%
	#For sort order control
	sort_order = params[:sort_order]=="0" ? "1" : "0"
	arrow_str = sort_order=="0" ? "▲" : "▼"
%>

<a id="tool_bar"><%=image_tag "icon_tools_32px.png"%></a>
<div id="tool_bar_div" style="display:none">
<% form_for :transaction, @transaction, :url=>{:controller=>"transactions", :action=>"import_csv"}, :html => { :multipart => true } do |f| %> 
<%= I18n.t("transactions.importcsv.title") %>  : <%= f.file_field :file %> <%= submit_tag I18n.t("transactions.index.submit") %> <% end %> <br /><%= link_to I18n.t("transactions.exportcsv.title") + "&nbsp;&nbsp;" + image_tag("export.png", :border=>0), { :controller => :transactions, :action => "export_csv" }, :title =>I18n.t('transactions.exportcsv.title'), :style =>"color:white;text-decoration:none;"%>

</div>

<h3><%= I18n.t('transactions.index.title') %></h3> 
<table class="transactions" border="0" cellspacing="0">
<tr style="background-color:white;">
	<th>#</th>
	<th><%= link_to I18n.t('transactions.index.from')+(params[:sort_by]=="from" ? arrow_str : ""), { :controller => :transactions, :action => "index", :sort_by => "from", :sort_order => sort_order}, :title => "sort by from" %></th>
	<th><%= link_to I18n.t('transactions.index.amount')+(params[:sort_by]=="amount" ? arrow_str : ""), { :controller => :transactions, :action => "index", :sort_by => "amount", :sort_order => sort_order}, :title => "sort by amount" %></th>
	<th><%= link_to I18n.t('transactions.index.to')+(params[:sort_by]=="to" ? arrow_str : ""), { :controller => :transactions, :action => "index", :sort_by => "to", :sort_order => sort_order}, :title => "sort by to" %></th>
	<th><%= link_to I18n.t('transactions.index.create_time')+(params[:sort_by]=="create_time" ? arrow_str : ""), { :controller => :transactions, :action => "index", :sort_by => "create_time", :sort_order => sort_order}, :title => "sort by create time" %></th>
	<th></th>

</tr>
<% @transactions.each do |transaction| %>
<tr>
	<td># <%=h transaction.id %></td>
	<td>
       <% if transaction.donor !=nil%><a class="info_tag" id="<%=h transaction.donor.id %>"><%=h transaction.donor.name %></a><%end%></td>
	<td>
        <%=h transaction.amount %>€ </td>
  <td>
        <%if transaction.recipient !=nil %><a class="info_tag" id="<%=h transaction.recipient.id %>"><%=h transaction.recipient.name %></a><%end%></strong></td>
	<td>
        <%if transaction.date_of_transaction != nil%><%=h transaction.date_of_transaction.strftime("%m / %Y")  %><%end%></td>
	<td>
	<% if logged_in? %>
		<%= link_to image_tag("accept.png", :border=>0), { :controller => :transactions, :action => "incr_rank", :id => transaction.id }, :title => "Rank It!" %>
		<%= link_to image_tag("Block.png", :border=>0), { :controller => :transactions, :action => "decr_rank", :id => transaction.id }, :title => "Unrank It!" %> <%=h transaction.rank %> <%if transaction.ilike != nil %> rank(s)<%end%>
	<% end %>
	</td>
	<td><%= link_to image_tag("Thumbs-up-icon.png", :border=>0), { :controller => :transactions, :action => "incr_ilike", :id => transaction.id }, :title => "I Like It!"  %> <%= link_to image_tag("thumbs-down-icon.png", :border=>0), { :controller => :transactions, :action => "decr_ilike", :id => transaction.id }, :title => "I don't Like It!"  %> <%=h transaction.ilike %><%if transaction.ilike !=nil %> like(s)<%end%></td>
	<!-- <td><%= link_to I18n.t('layout.navigation.edit'),  edit_transaction_path(transaction) %></td>
	<td><%= link_to I18n.t('layout.navigation.destroy'), transaction, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td> -->
	<% if logged_in? %>
	<td><%= link_to image_tag("favorite_add.png", :border=>0), {:controller => :favourite, :action => "favourite_transaction", :id => transaction.id}, :title => I18n.t('layout.navigation.favourite') %></td>
	<td><%= link_to image_tag("comment_edit.png", :border=>0), new_transaction_comment_path(transaction), :title =>I18n.t('comments.new.title') %> </td>
	<% end %>
	<td><%= link_to image_tag("info.png", :border=>0), transaction, :title =>I18n.t('layout.navigation.show') %> </td>
</tr>
<% end %>
</table>
<br />
<script type="text/javascript">
document.observe('dom:loaded', function() {
  $$("a[class='info_tag']").each(function(element) {
    new Tip(element, "Show Detail Info", {
	    style: 'protoblue',
	  	hook: { target:'topMiddle', tip: 'bottomMiddle', mouse: false },
		offset: { x: 0, y: 3 },
		stem: 'bottomMiddle',
		width: 200,
		height: 100,
		ajax: {
		    url: '/entities/entity_info_ajax',
			options: {
				method: 'get',
				parameters: {id: element.id}
			}
		}
    });
  });

  $$("a[id='tool_bar']").each(function(element) {
    new Tip(element, $("tool_bar_div").innerHTML, {
		title: 'Tool Bar',
		closeButton: true,
	    style: 'protoblue',
	  	hook: { target:'rightMiddle', tip: 'leftMiddle', mouse: false },
		offset: { x: 0, y: 3 },
		stem: 'leftMiddle',
		width: 500,
		height: 60,
		hideOn: { element: 'closeButton', event: 'click'},
    });
  });

});
</script>