<h2><%= I18n.t('transactions.index.title') %></h2>

<table border="0" cellspacing="20" style="margin-left:200px;">
  <tr>
    <th><%= I18n.t('transactions.index.id') %></th>
    <th><%= I18n.t('transactions.index.amount') %></th>
    <th><%= I18n.t('transactions.index.from') %></th>
    <th><%= I18n.t('transactions.index.to') %></th>
	<th><%= I18n.t('transactions.index.create_time') %></th>
	<th><%= I18n.t('transactions.index.rank') %></th>
    <th><%= I18n.t('transactions.index.operation') %></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.id %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.from %></td>
    <td><%=h transaction.to %></td>
	<td><%=h transaction.created_at.strftime("%d.%m.%Y %H:%M")  %></td>
	<td><%= link_to '+', transaction, :action => :incr_rank %> <%=h transaction.rank %></td>
	<td><%= link_to I18n.t('layout.navigation.show'), transaction %> <br />
	<%= link_to I18n.t('layout.navigation.edit'),  edit_transaction_path(transaction) %> <br/>
	<%= link_to I18n.t('layout.navigation.destroy'), transaction, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('transactions.new.title'), new_transaction_path %> &nbsp;&nbsp;
<%= link_to I18n.t('transactions.top.title'), top_transactions_path %> &nbsp;&nbsp;
<%= link_to I18n.t('transactions.fundtop.title'), fundtop_transactions_path %> 

