<%= link_to I18n.t('transactions.new.title'), new_transaction_path %> &nbsp;&nbsp;
<%= link_to I18n.t('transactions.top.title'), top_transactions_path %> &nbsp;&nbsp;
<%= link_to I18n.t('transactions.fundtop.title'), fundtop_transactions_path %> &nbsp;&nbsp;
<%= link_to I18n.t('transactions.exportcsv.title'), { :controller => :transactions, :action => "export_csv" } %> 


<% form_for :transaction, @transaction, :url=>{:controller=>"transactions", :action=>"import_csv"}, :html => { :multipart => true } do |f| %> 
<%= I18n.t('transactions.importcsv.title') %>  : <%= f.file_field :file %> <%= 

submit_tag 'Submit' %> <% end %> <br />

<h3><%= I18n.t('transactions.index.title') %></h3>
<table borders="0" cellspacing="15">
<% @transactions.each do |transaction| %>
<tr>
	<td onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        <%= I18n.t('transactions.index.id') %>: <%=h transaction.id %></td>
	<td onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        <%=h I18n.t('transactions.index.from') %>: <strong><% if transaction.donor !=nil%><%=h transaction.donor.name %><%end%></strong></td>
	<td onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        <strong><%=h transaction.amount %></strong>€ </td>
  <td  onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        --></td>
  <td onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        <strong><%if transaction.recipient !=nil %><%=h transaction.recipient.name %><%end%></strong></td>
	<td onmouseover="this.style.background='yellow';this.style.cursor='pointer'"
        onmouseout="this.style.background='white';" onclick = "location='transactions/<%= transaction.id%>'">
        <%=h transaction.created_at.strftime("%d.%m.%Y %H:%M")  %></td>
	<td>
	<% if logged_in? %>
		<%= link_to '+', { :controller => :transactions, :action => "incr_rank", :id => transaction.id }, :title => "Rank It!" %>
		<%= link_to '-', { :controller => :transactions, :action => "decr_rank", :id => transaction.id }, :title => "Unrank It!" %> <%=h transaction.rank %>
	<% end %>
	</td>
	<td><%= link_to '♥', { :controller => :transactions, :action => "incr_ilike", :id => transaction.id }, :title => "I Like It!"  %> <%= link_to 'X', { :controller => :transactions, :action => "decr_ilike", :id => transaction.id }, :title => "I don't Like It!"  %> <%=h transaction.ilike %></td>
	<td><%= link_to I18n.t('layout.navigation.show'), transaction %> </td>
	<td><%= link_to I18n.t('layout.navigation.edit'),  edit_transaction_path(transaction) %></td>
	<td><%= link_to I18n.t('layout.navigation.destroy'), transaction, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td>
	<td><%= link_to I18n.t('layout.navigation.favourite'), {:controller => :favourite, :action => "favourite_transaction", :id => transaction.id } %></td>
</tr>
<% end %>
</table>
<br />
