<h1><%= I18n.t('transactions.new.title') %></h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
	<%= @from_who = Thirdpartyperson.find(:all, :order => 'last_name ASC').map {|u| [u.last_name, u.id] }
		f.select(:from, @from_who)
	%>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %> This will be replaced when Kai finish his part.
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.navigation.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.navigation.back'), transactions_path %>