<h1><%= I18n.t('transactions.new.title') %></h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount, I18n.t('transactions.information.amount') %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
<<<<<<< HEAD
    <%= f.label :donor %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.name, u.id] }
		f.select(:donor, @from_who)
	%>
  </p>
  <p>
    <%= f.label :recipient %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.name, u.id] }
		f.select(:recipient, @from_who)
=======
    <%= f.label :from, I18n.t('transactions.information.from') %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.id] }
		f.select(:from, @from_who)
	%>
  </p>
  <p>
    <%= f.label :to, I18n.t('transactions.information.to') %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.id] }
		f.select(:to, @from_who)
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1
	%>
  </p>
  <p>
    <%= f.label :description, I18n.t('transactions.information.description') %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.navigation.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.navigation.back'), transactions_path %>