<h1><%= I18n.t('transactions.new.title') %></h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :donor %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.name, u.id] }
		f.select(:donor, @from_who)
	%>
  </p>
  <p>
    <%= f.label :recipient %><br />
	<%= @from_who = Entity.find(:all, :order => 'name ASC').map {|u| [u.name, u.name, u.id] }
		f.select(:recipient, @from_who)
	%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.navigation.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.navigation.back'), transactions_path %>