<h2><%= I18n.t('transactions.newsfeed.title') %></h2>

<table border="0" cellspacing="20" style="margin-left:200px;">
  <tr>
    <th>Amount(€)</th>
    <th>From</th>
    <th>To</th>
	<th>Create Time</th>
	<th>Rank</th>
    <th>Operation</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.amount %></td>
    <td style="font-weight:bold;"><%=h transaction.from %></td>
    <td style="font-weight:bold;"><%=h transaction.to %></td>
	<td><%=h transaction.created_at.strftime("%d.%m.%Y %H:%M") %></td>
	<td><%=h transaction.rank %></td>
	<td><%= link_to 'Show', transaction %> <br />
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', transactions_path %>

<br />
