<h2 style="margin-left:20px;"><%= I18n.t('transactions.search.title') %> <%=@entity.name%></h2>
<div style="width:50%;float:left;">
	<h3 style="margin-left:50px;">From <%=@entity.name%>: <%= @transactions_from.size%> records</h3>
<%if @transactions_from.size > 0%>
<table class="transactions" id="latest" border="0" cellspacing="0"
<tr>
	<th>#</th>
	<th><%=I18n.t('transactions.index.from')%></th>
	<th><%=I18n.t('transactions.index.amount')%></th>
	<th><%=I18n.t('transactions.index.to') %></th>
	<th><%=I18n.t('transactions.index.create_time')%></th>
	<th></th>

</tr>
<% @transactions_from.each do |transaction| %>
<tr>
	<td># <%=h transaction.id %></td>
	<td>
       <% if transaction.donor !=nil%><%=h transaction.donor.name %><%end%></td>
	<td>
        <%=h transaction.amount %>€ </td>
  <td>
        <%if transaction.recipient !=nil %><%=h transaction.recipient.name %><%end%></strong></td>
	<td>
        <%if transaction.date_of_transaction != nil%><%=h transaction.date_of_transaction.strftime("%m / %Y")  %><%end%></td>
		<td><%= link_to image_tag("info.png", :border=>0), transaction, :title =>I18n.t('layout.navigation.show') %> </td>
</tr>
<% end %>
</table>
<%end%>
</div>
<div style="width:45%;float:right; clear:none;">
	<h3 style="margin-left:50px;">To <%=@entity.name%>: <%= @transactions_to.size%> records</h3>
<%if @transactions_to.size > 0%>
<table class="transactions" id="latest" border="0" cellspacing="0"
<tr>
	<th>#</th>
	<th><%=I18n.t('transactions.index.from')%></th>
	<th><%=I18n.t('transactions.index.amount')%></th>
	<th><%=I18n.t('transactions.index.to') %></th>
	<th><%=I18n.t('transactions.index.create_time')%></th>
	<th></th>

</tr>
<% @transactions_to.each do |transaction| %>
<tr>
	<td># <%=h transaction.id %></td>
	<td>
       <% if transaction.donor !=nil%><%=h transaction.donor.name %><%end%></td>
	<td>
        <%=h transaction.amount %>€ </td>
  <td>
        <%if transaction.recipient !=nil %><%=h transaction.recipient.name %><%end%></strong></td>
	<td>
        <%if transaction.date_of_transaction != nil%><%=h transaction.date_of_transaction.strftime("%m / %Y")  %><%end%></td>
		<td><%= link_to image_tag("info.png", :border=>0), transaction, :title =>I18n.t('layout.navigation.show') %> </td>
</tr>
<% end %>
</table>
<%end%>
</div>
<br />
<br />
