<p>
  <b>Amount:</b>
  <%=h @transaction.amount %>
</p>

<p>
  <b>To:</b>
  <%=h @transaction.to %>
</p>

<p>
  <b>From:</b>
  <%=h @transaction.from %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>