<h1>Transaction with the ID: <%=h @transaction.id %></h1>

<% form_for(@transaction) do |f| %>
<%= f.error_messages %>

<p>
	<%= f.label :amount %><br />
	<%=h @transaction.amount %>
</p>
  	
<p>
	<%= f.label :donor %><br />
	<%=h @transaction.donor%>
</p>

<p>
	<%= f.label :recipient %><br />
    <%=h @transaction.recipient %>
</p>

<p>
	<%= f.label :description %><br />
	<%=h @transaction.description %>
</p>
	
<p>
	<%= f.label :rank %><br />
   	<%=h @transaction.rank %>
</p>

<div id="comment-list">
	<h2>Comments for this transaction:</h2>
	
	<% @transaction.comments.each do |comment| %>
  	<div class "<%= cycle('list-line-odd', 'list-line-even')%>">
		<p>
			<b><%=h comment.commenter %> said:</b>
		</p>
	  
		<p>  
			<%=h comment.content %>
		</p>
		<%= link_to 'Edit this comment', edit_transaction_comment_path(@transaction, comment.id) %>  
		<%= link_to 'Destroy', transaction_comment_path(@transaction, comment), :confirm => 'Are you sure?', :method => :delete %> 
	</div>
	<% end %>
</div>	
<br />
	
<%= link_to 'New Comment', new_transaction_comment_path(@transaction)  %>
<%= link_to 'Back', transactions_path %>
<% end %>