<h2><%= I18n.t('transactions.top.title') %></h2>

<table border="0" cellspacing="20" style="margin-left:200px;">
  <tr>
    <th><%= I18n.t('transactions.top.id') %></th>
    <th><%= I18n.t('transactions.top.amount') %></th>
    <th><%= I18n.t('transactions.top.from') %></th>
    <th><%= I18n.t('transactions.top.to') %></th>
	<th><%= I18n.t('transactions.top.create_time') %></th>
	<th><%= I18n.t('transactions.top.rank') %></th>
    <th><%= I18n.t('transactions.top.operation') %></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.id %></td>
    <td><%=h transaction.amount %></td>
    <td style="font-weight:bold;"><%=h transaction.donor %></td>
    <td style="font-weight:bold;"><%=h transaction.recipient %></td>
	<td><%=h transaction.created_at.strftime("%d.%m.%Y %H:%M") %></td>
	<td><%=h transaction.rank %></td>
	<td><%= link_to I18n.t('layout.navigation.show'), transaction %> <br />
	<%= link_to I18n.t('layout.navigation.edit'),  edit_transaction_path(transaction) %> <br />
	<%= link_to I18n.t('layout.navigation.destroy'), transaction, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to I18n.t('layout.navigation.back'), transactions_path %>

<br />
