<h1><%= I18n.t('entities.index.title')%></h1>

<table>
  <tr>
    <th><%= I18n.t('entities.information.name')%></th>
    <th><%= I18n.t('entities.information.leader')%></th>
    <th><%= I18n.t('entities.information.email')%></th>
    <th><%= I18n.t('entities.information.phone_number')%></th>
    <th><%= I18n.t('entities.information.description')%></th>
    <th><%= I18n.t('entities.information.is_organization')%></th>
  </tr>

<% @entities.each do |entity| %>
  <tr>
    <td><%=h entity.name %></td>
    <td><%=h entity.leader %></td>
    <td><%=h entity.email %></td>
    <td><%=h entity.phone_number %></td>
    <td><%=h entity.description %></td>
    <td><%=h entity.is_organization %></td>
    <td><%= link_to I18n.t('layout.navigation.show'), entity %></td>
    <td><%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(entity) %></td>
    <td><%= link_to I18n.t('layout.navigation.destroy'), entity, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('entities.new.title'), new_entity_path %>