
<%= link_to 'Create a New entity', new_entity_path %>
<h2>Organizations and persons in the database</h2>
<h3>Organizations:</h3>
<table cellspacing="10">
  <tr>
    <th>Name</th>
    <th>Leader</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Description</th>
    </tr>

<% @entities.each do |entity| %>
<%if entity.is_organization != false%>
  <tr>
    <td><%=h entity.name %></td>
    <td><%=h entity.leader %></td>
    <td><%=h entity.email %></td>
    <td><%=h entity.phone_number %></td>
    <td><%=h entity.description %></td>
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%end%>
<% end %>
</table>

<h3>Persons:</h3>
<table cellspacing="10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Description</th>
    </tr>

<% @entities.each do |entity| %>
<%if entity.is_organization == false%>
  <tr>
    <td><%=h entity.name %></td>
    <td><%=h entity.email %></td>
    <td><%=h entity.phone_number %></td>
    <td><%=h entity.description %></td>
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%end%>
<% end %>
</table>



<br />
