<<<<<<< HEAD
=======
<h1><%= I18n.t('entities.index.title')%></h1>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1

<%= link_to 'Create a New entity', new_entity_path %>
<h2>Organizations and persons in the database</h2>
<h3>Organizations:</h3>
<table cellspacing="10">
  <tr>
<<<<<<< HEAD
    <th>Name</th>
    <th>Leader</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Description</th>
    </tr>
=======
    <th><%= I18n.t('entities.information.name')%></th>
    <th><%= I18n.t('entities.information.leader')%></th>
    <th><%= I18n.t('entities.information.email')%></th>
    <th><%= I18n.t('entities.information.phone_number')%></th>
    <th><%= I18n.t('entities.information.description')%></th>
    <th><%= I18n.t('entities.information.is_organization')%></th>
  </tr>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1

<% @entities.each do |entity| %>
<%if entity.is_organization != false%>
  <tr>
    <td><%=h entity.name %></td>
    <td><%=h entity.leader %></td>
    <td><%=h entity.email %></td>
    <td><%=h entity.phone_number %></td>
    <td><%=h entity.description %></td>
<<<<<<< HEAD
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
=======
    <td><%=h entity.is_organization %></td>
    <td><%= link_to I18n.t('layout.navigation.show'), entity %></td>
    <td><%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(entity) %></td>
    <td><%= link_to I18n.t('layout.navigation.destroy'), entity, :confirm => I18n.t('layout.navigation.sure'), :method => :delete %></td>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1
  </tr>
<%end%>
<% end %>
</table>

<h3>Persons:</h3>
<table cellspacing="10">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Description</th>
    </tr>

<<<<<<< HEAD
<% @entities.each do |entity| %>
<%if entity.is_organization == false%>
  <tr>
    <td><%=h entity.name %></td>
    <td><%=h entity.email %></td>
    <td><%=h entity.phone_number %></td>
    <td><%=h entity.description %></td>
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%end%>
<% end %>
</table>



<br />
=======
<%= link_to I18n.t('entities.new.title'), new_entity_path %>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1
