<h1><%= I18n.t('entities.new.title')%></h1>

<% form_for(@entity) do |f| %>
  <%= f.error_messages %>
  
  
  <p>
    <%= f.label :is_organization, I18n.t('entities.information.is_organization') %><br />
    <%= f.check_box :is_organization %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :leader %><br />
    <%= f.text_field :leader %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit I18n.t('entities.new.submit') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.navigation.back'), entities_path %>