<% form_for(@entity, :html => {:class => 'validate', :multipart=>true}) do |f| %>
  <script type="text/javascript">
  function close_window(){
	//new_entity.submit();
	window.parent.closeIframe();
	window.location.reload();
  }
  </script>

<% if params[:op_result] != nil %>
  <br /><br />
  <center><font color='green'>Succeed! You can continue add more entities!</font></center>
  <script type="text/javascript">setTimeout(close_window, 1500);</script>
<% else %>

    <font color='red'><%= f.error_messages %></font>

  <table align="center">
  <tr>
    <td><%= f.label :is_organization, "Org?" %></td>
    <td><%= f.check_box :is_organization %></td>
  </tr>
  <tr>
    <td><%= f.label :name, I18n.t('entities.information.name') %></td>
    <td><%= f.text_field :name, :size=>"20" %></td>
  </tr>
  <tr>
   	<td><%= f.label :leader, I18n.t('entities.information.leader') %></td>
    <td><%= f.text_field :leader, :size=>"20" %></td>
  </tr>
  <tr>
    <td><%= f.label :email, I18n.t('entities.information.email') %></td>
    <td><%= f.text_field :email, :size=>"20" %></td>
  </tr>
  <tr>
    <td><%= f.label :phone_number, I18n.t('entities.information.phone_number') %></td>
    <td><%= f.text_field :phone_number, :size=>"20" %></td>
  </tr>
  <tr>
    <td><%= f.label :description, I18n.t('entities.information.description') %></td>
    <td><%= f.text_area :description, :rows=>"5", :cols => "30" %></td>
  </tr>
  <tr>
    <td colspan=2 align="center"><br />
	<%= tag("input", {
	     :type => "button",
	     :onclick => "new_entity.submit()",
	     :name => "submit_new_entity",
	     :value => I18n.t('layout.navigation.create')},
	  true) %>
	</td>
  </tr>
  </table>
  <%= hidden_field_tag 'from_ajax', 1 %>

<% end %>
<% end %>