<%if @entity.is_organization != false%>
<h2><%= I18n.t('entities.information.organization_information')%></h2>
<%else%>
<h2><%= I18n.t('entities.information.person_profile')%></h2>
<%end%>
	<div>
		<p>
    		<%= label :name, I18n.t('entities.information.name') %><br/>
  			<%if @entity != nil %><strong><%=h @entity.name %></strong><%end%>
	</p>
	</div>
	<div style="border:1px solid;float:left;padding:35px;">
	<div style="float:left;clear:both;">
		<%if @entity.is_organization %>
		<div style="float:left;clear:none;">
 			<%= I18n.t('entities.information.leader') %><br />
			<strong><%=h @entity.leader %></strong>
 		</div>
		<%end%>
		<div style="float:left;clear:left;margin-top:10px;">
 			<%= I18n.t('entities.information.homepage') %><br />
			<%if @entity.homepage != nil%><%=link_to @entity.homepage, @entity.homepage %><%end%>
 		</div>
		<div style="float:left;clear:none;margin-top:10px;margin-left:60px;">
   			<%= I18n.t('entities.information.email') %><br />
		   <%if @entity != nil %>  <strong><%=h @entity.email %></strong><%end%>
		 </div>
		<br />
			<div style="float:left;clear:none; margin-top:10px;">
			  <%= I18n.t('entities.information.phone_number') %><br />
			    <%if @entity != nil %><strong><%=h @entity.phone_number %></strong><%end%>
		</div>
	</div>
	<div style="float:left;clear:both;margin-top:30px;">
		<%= I18n.t('entities.information.description') %><br />
	   <%if @entity != nil %><strong><%=h @entity.description %></strong><%end%>
	  	</div>
		<div style="float:right;clear:left;"><%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(@entity) %></div>
	</div>
	
	<div id="photo_container">
	<% if @entity.photo.exists? then %>
	<p><%= image_tag @entity.photo.url(:small) %></p>
	<% else %>
	<p><br style="margin-bottom:40px;"/>&nbsp;&nbsp;&nbsp;<%= I18n.t('users.information.noimage')%><br style="margin-bottom:120px;"/>
	</p><% end %>
	</div>
	
<div id="associations_container" style="">
<div id="association_list">
	<%= link_to I18n.t('association.show.association_map'),"map/#{@entity.id}", :target => "_blank", :id=>@entity.id  %>
	<%= link_to I18n.t('association.new.title'), new_entity_association_path(@entity)  , :style=>"margin-left:20px;"%>
	
	<h2><%= I18n.t('entities.information.associations')%>:</h2>
		<% @entity.associations.each do |association| %>
		<%if is_a_number?(association.knows_entity_id) %>  <%=link_to association.knows_entity.name, association.knows_entity %><%else%>  <%=h association.knows_entity %><%end%><br/>
	<% end %>
</div>	
<div id="attachments_list">
	<h2><%= I18n.t('entities.information.documents')%>:</h2>
		<% @entity.documentss.each do |doc| %>
		<%if (doc.document_name.include?".pdf")%><%= link_to image_tag("pdf.png", :border=>0), "/attachments/"+doc.document_name, :title =>doc.document_name, :style=>"float:right;clear:both;" %><%end%>
		<%if (doc.document_name.include?".jpg")%><%= link_to image_tag("pdf.png", :border=>0), "/attachments/"+doc.document_name, :title =>doc.document_name, :style=>"float:right;clear:both;" %><%end%>
		<%if (doc.document_name.include?".doc") or (doc.document_name.include?".odt") %><%= link_to image_tag("doc.png", :border=>0), "/attachments/"+doc.document_name, :title =>doc.document_name, :style=>"float:right;clear:both;" %><%end%>
		<%if (doc.document_name.include?".xls")%><%= link_to image_tag("xls.png", :border=>0), "/attachments/"+doc.document_name, :title =>doc.document_name, :style=>"float:right;clear:both;" %><%end%>
		<br/>
	<% end %>
</div>
</div>

<div id="entity_transactions">
<h2><%= I18n.t('entities.information.transactions')%>:</h2>
<%=transactionsCount(@entity)%> transactions, in total of <%=moneySum(@entity)%>€
<%= link_to I18n.t('transactions.new.title'), new_transaction_path, :style=>"margin-left:30px;" %><br style="margin-bottom:40px;margin-top:20px;"/>
<table class="transactions" border="0" cellspacing="0">
	<% @transactions_to.each do |t| %>
	<tr><td><%if t.date_of_transaction != nil%><%=t.date_of_transaction.strftime("%m / %Y") %><%else%>?? / ????<%end%></td>
	<td><%=t.recipient.name%></td> 
	<td>=></td>
	<td><%=link_to t.donor.name, t.donor%></td>
	<td> = </td> 
	<td><%=t.amount%>€ </td>
	<td><%=link_to image_tag("info.png", :border=>0), transaction_path(t)%></td>
	<%end%>
	</tr>
	<% @transactions_from.each do |t| %>
	<tr>
<td><%if t.date_of_transaction != nil%><%=t.date_of_transaction.strftime("%m / %Y") %><%else%>?? / ????<%end%></td>
<td><%=link_to t.recipient.name, t.recipient%></td> 
<td>=></td>
<td><%=t.donor.name%></td>
<td>=</td> 
<td><%=t.amount%>€</td>
<td><%=link_to image_tag("info.png", :border=>0), transaction_path(t)%></td>
	</tr>
	<%end%>
	</table>
</div>

<br />
<hr style="width:100%;float:left;clear:both;margin-top:40px;margin-bottom:20px;"/>
<div id="actions" style="float:left;clear:left;">

<%= link_to I18n.t('layout.navigation.back'), entities_path %>
</div>
	
</div>