<%if @entity.is_organization != false%>
<h2><%= I18n.t('entities.information.organization_information')%></h2>
<%else%>
<h2><%= I18n.t('entities.information.person_profile')%></h2>
<%end%>
<p>
  <b><%= I18n.t('entities.information.name')%>:</b>
<%if @entity != nil %>  <%=h @entity.name %><%end%>
</p>

<p>
  <b><%if @entity.is_organization %><%= I18n.t('entities.information.leader')%>:</b>
 <%=h @entity.leader %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.email')%>:</b>
<%if @entity != nil %>  <%=h @entity.email %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.phone_number')%>:</b>
<%if @entity != nil %>  <%=h @entity.phone_number %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.description')%>:</b>
<%if @entity != nil %>  <%=h @entity.description %><%end%>
</p>


<div id="association-list">
	<h2><%= I18n.t('entities.information.associations')%>:</h2>
		<% @entity.associations.each do |association| %>
		<p>
		<%if is_a_number?(association.knows_entity_id) %>  <%=h association.knows_entity.name %><%else%>  <%=h association.knows_entity %><%end%>, 		<%=h association.description %>, 	Source:	<%=h association.infosource %>
		</p>
	<% end %>
</div>	
<br />
<%= link_to I18n.t('association.show.association_map'), :action => "map", :id=>@entity.id, :target => "_blank" %>
<%= link_to I18n.t('association.new.title'), new_entity_association_path(@entity)  %>


<%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(@entity) %>
<%= link_to I18n.t('layout.navigation.back'), entities_path %>