<%if @entity.is_organization != false%>
<h2>Organization information</h2>
<%else%>
<h2>Person profile</h2>
<%end%>
<p>
  <b><%= I18n.t('entities.information.name')%>:</b>
<%if @entity != nil %>  <%=h @entity.name %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.leader')%>:</b>
<%if @entity != nil %> <%=h @entity.leader %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.email')%>:</b>
<%if @entity != nil %>  <%=h @entity.email %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.phone_number')%>:</b>
<%if @entity != nil %>  <%=h @entity.phone_number %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.description')%>:</b>
<%if @entity != nil %>  <%=h @entity.description %><%end%>
</p>

<p>
  <b><%= I18n.t('entities.information.is_organization')%>:</b>
<%if @entity != nil %>  <%=h @entity.is_organization %><%end%>
</p>


<div id="association-list">
	<h2>Known associations:</h2>
		<% @entity.associations.each do |association| %>
		<p>
		<%=h association.thirdpartyperson_id %>, 		<%=h association.description %>, 	Source:	<%=h association.infosource %>
		</p>
	<% end %>
</div>	
<br />

<%= link_to I18n.t('entities.new.title'), new_entity_association_path(@entity)  %>


<%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(@entity) %>
<%= link_to I18n.t('layout.navigation.back'), entities_path %>