<p>
  <b><%= I18n.t('entities.information.name')%>:</b>
  <%=h @transaction.entity.name %>
</p>

<p>
  <b><%= I18n.t('entities.information.leader')%>:</b>
  <%=h @transaction.entity.leader %>
</p>

<p>
  <b><%= I18n.t('entities.information.email')%>:</b>
  <%=h @transaction.entity.email %>
</p>

<p>
  <b><%= I18n.t('entities.information.phone_number')%>:</b>
  <%=h @transaction.entity.phone_number %>
</p>

<p>
  <b><%= I18n.t('entities.information.description')%>:</b>
  <%=h @transaction.entity.description %>
</p>

<p>
  <b><%= I18n.t('entities.information.is_organization')%>:</b>
  <%=h @transaction.entity.is_organization %>
</p>


<div id="association-list">
	<h2>Associations for this entity:</h2>
		<% @transaction.entity.associations.each do |association| %>
		<p>
		<%=h association.thirdpartyperson_id %>
		</p>
	<% end %>
</div>	
<br />

<%= link_to I18n.t('entities.new.title'), new_entity_association_path(@entity)  %>


<%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(@entity) %>
<%= link_to I18n.t('layout.navigation.back'), entities_path %>