<p>
  <b>Name:</b>
  <%=h @transaction.entity.name %>
</p>

<p>
  <b>Leader:</b>
  <%=h @transaction.entity.leader %>
</p>

<p>
  <b>Email:</b>
  <%=h @transaction.entity.email %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @transaction.entity.phone_number %>
</p>

<p>
  <b>Description:</b>
  <%=h @transaction.entity.description %>
</p>

<p>
  <b>Is organization:</b>
  <%=h @transaction.entity.is_organization %>
</p>


<div id="association-list">
	<h2>Associations for this entity:</h2>
		<% @transaction.entity.associations.each do |association| %>
		<p>
		<%=h association.thirdpartyperson_id %>
		</p>
	<% end %>
</div>	
<br />

<%= link_to 'New Association', new_entity_association_path(@entity)  %>


<%= link_to 'Edit', edit_entity_path(@entity) %>
<%= link_to 'Back', entities_path %>