<%if @entity.is_organization != false%>
<h2>Organization information</h2>
<%else%>
<h2>Person profile</h2>
<%end%>
<p>
<<<<<<< HEAD
  <b>Name:</b>
  <%=h @entity.name %>
</p>

<p>
  <%if @entity.leader != "None" and @entity.leader != "" %><b>Leader:</b>
  <%=h @entity.leader %>
<%end%>
</p>

<p>
  <b>Email:</b>
  <%=h @entity.email %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @entity.phone_number %>
</p>

<p>
  <b>Description:</b>
  <%=h @entity.description %>
=======
  <b><%= I18n.t('entities.information.name')%>:</b>
  <%=h @transaction.entity.name %>
</p>

<p>
  <b><%= I18n.t('entities.information.leader')%>:</b>
  <%=h @transaction.entity.leader %>
</p>

<p>
  <b><%= I18n.t('entities.information.email')%>:</b>
  <%=h @transaction.entity.email %>
</p>

<p>
  <b><%= I18n.t('entities.information.phone_number')%>:</b>
  <%=h @transaction.entity.phone_number %>
</p>

<p>
  <b><%= I18n.t('entities.information.description')%>:</b>
  <%=h @transaction.entity.description %>
</p>

<p>
  <b><%= I18n.t('entities.information.is_organization')%>:</b>
  <%=h @transaction.entity.is_organization %>
>>>>>>> 17204c0f1e0edc5ae27e38f83573f537633e80b1
</p>


<div id="association-list">
	<h2>Known associations:</h2>
		<% @entity.associations.each do |association| %>
		<p>
		<%=h association.thirdpartyperson_id %>, 		<%=h association.description %>, 	Source:	<%=h association.infosource %>
		</p>
	<% end %>
</div>	
<br />

<%= link_to I18n.t('entities.new.title'), new_entity_association_path(@entity)  %>


<%= link_to I18n.t('layout.navigation.edit'), edit_entity_path(@entity) %>
<%= link_to I18n.t('layout.navigation.back'), entities_path %>