<%if @entity.is_organization != false%>
<h2>Organization information</h2>
<%else%>
<h2>Person profile</h2>
<%end%>
<p>
  <b>Name:</b>
  <%=h @entity.name %>
</p>

<p>
  <%if @entity.leader != "None" and @entity.leader != "" %><b>Leader:</b>
  <%=h @entity.leader %>
<%end%>
</p>

<p>
  <b>Email:</b>
  <%=h @entity.email %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @entity.phone_number %>
</p>

<p>
  <b>Description:</b>
  <%=h @entity.description %>
</p>


<div id="association-list">
	<h2>Known associations:</h2>
		<% @entity.associations.each do |association| %>
		<p>
		<%=h association.thirdpartyperson_id %>, 		<%=h association.description %>, 	Source:	<%=h association.infosource %>
		</p>
	<% end %>
</div>	
<br />

<%= link_to 'New Association', new_entity_association_path(@entity)  %>


<%= link_to 'Edit', edit_entity_path(@entity) %>
<%= link_to 'Back', entities_path %>